Button {
    -fx-cursor: hand;
}

#receiptTable {
}

#receiptContentBox {
    -fx-min-width: 500;
    -fx-padding: 30 30 60 30;
}

#receiptTitle Label {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#receiptUpperContentBox {
    -fx-spacing: 10;
    -fx-padding: 0 0 30 0;
}

#receiptFieldBox {
    -fx-pref-width: 450;
    -fx-padding: 20 0 0 0;
    -fx-spacing: 15;
}

#receiptFieldBox HBox{
    -fx-alignment: CENTER_LEFT;
}

.receiptLabel {
    -fx-pref-width: 150;
}

#sumBox {
    -fx-padding: 5 0 0 0;
}

#sumField {
    -fx-font-weight: bold;
}

#receiptControlBox {
    -fx-padding: 35 0 0 0;
    -fx-spacing: 10;
}

#receiptControlBox HBox {
    -fx-spacing: 10;
}

#receiptControlBox Button {
    -fx-min-width: 90;
}

#p_suggestions .table-row-cell {
    -fx-padding: 0;
}

#purchaseInputTable Button {
    -fx-font-size: 11px;
    -fx-padding: 2 5 2 5;
}

#purchaseInputTable .table-row-cell:filled:selected {
    -fx-cursor: hand;
    -fx-background: -fx-control-inner-background;
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

/*noinspection CssInvalidPseudoSelector*/
.table-row-cell:last-row {
    -fx-font-style: italic;
    -fx-cursor: hand;
    -fx-text-background-color: #b4b4b4;
}

.table-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}

#purchaseInputTable .text-field {
    -fx-background-color: transparent;
    -fx-padding: 0, 0, 0, 0;
}

#purchaseInputTable .text-field:focused {
    -fx-background-color: white;
    -fx-background-insets: none;
    -fx-background-radius: none;
    -fx-prompt-text-fill: transparent;
    -fx-padding: 0, 0, 0, 0;
}

ZoomableImageView {
    -fx-background-color: white;
}

#imgButtons {
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.invalid {
    -fx-background-color: #ff9999 !important;
}