.button {
    -fx-font-weight: bold;
}

.receipt-content Label{
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.invalid{
    -fx-background-color: red;
}

.label-like {
    -fx-background-color: #f4f4f4;
}